.homepage-grid{
  background: #de6161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

.header-color{
  background: #de6161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-img-border {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-left: auto;
  margin-right: auto;
}

.profile-img-border img {
  width: 100%;
  height: auto;
}

.banner-text{
  border-radius: 10px;
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: #fff;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  color: white;
  padding: 8px;
  font-size: 5em;
}

.projects-grid{
  padding: 0 100px;
  display: flex;
}
